blinker==1.8.2
build==1.2.2.post1
click==8.1.8
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==1.1.1
packaging==24.2
PyMySQL==1.1.1
pyproject_hooks==1.2.0
SQLAlchemy==2.0.40
tomli==2.2.1
typing_extensions==4.13.1
Werkzeug==3.0.6
zipp==3.20.2
openai==1.35.8
docx2txt==0.8
PyPDF2==3.0.1
python-dotenv==1.0.1
