.register-container {
  height: 100%;
  min-height: 550px;
  background-color: var(--el-bg-color);
  background-image: url("@/assets/images/login_bg.svg");
  background-size: 100% 100%;
  background-size: cover;
  .register-box {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96.5%;
    height: 94%;
    padding: 0 50px;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 10px;
    .dark {
      position: absolute;
      top: 13px;
      right: 18px;
    }
    .dark & {
      background-color: rgba(0, 0, 0, 0.8);  // 暗黑模式半透明黑
    }
    .register-form {
      width: 450px;
      padding: 50px 40px 45px;
      background-color: var(--el-bg-color);
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 10%) 0 2px 10px 2px;
      .el-form-item {
        margin-bottom: 40px;
      }
    }
  }
}
